# Varnish environment configuration description. This was derived from
# the old style sysconfig/defaults settings

# Set this to 1 to make systemd reload try to switch VCL without restart.
RELOAD_VCL=1

# Set WARMUP_TIME to force a delay in reload-vcl between vcl.load and vcl.use
# This is useful when backend probe definitions need some time before declaring
# configured backends healthy, to avoid routing traffic to a non-healthy backend.
#WARMUP_TIME=0

# Main configuration file. You probably want to change it.
VARNISH_VCL_CONF=/etc/varnish/default.vcl

# Default address and port to bind to. Blank address means all IPv4
# and IPv6 interfaces, otherwise specify a host name, an IPv4 dotted
# quad, or an IPv6 address in brackets.
# VARNISH_LISTEN_ADDRESS=192.168.1.5
VARNISH_LISTEN_PORT={{ listen_port }}

# Admin interface listen address and port
VARNISH_ADMIN_LISTEN_ADDRESS={{ admin_listen_address }}
VARNISH_ADMIN_LISTEN_PORT={{ admin_listen_port }}

# Shared secret file for admin interface
VARNISH_SECRET_FILE={{ secret_file }}

# Backend storage specification, see Storage Types in the varnishd(5)
# man page for details.
VARNISH_STORAGE="malloc,256M"

# User and group for the varnishd worker processes
VARNISH_USER={{ varnish_user }}
VARNISH_GROUP={{ varnish_group }}

# Other options, see the man page varnishd(1)
DAEMON_OPTS="-p cli_buffer=16384 -p feature=+esi_ignore_other_elements -p vcc_allow_inline_c=on -p http_resp_hdr_len=65536"
