/var/log/varnish/access.log {
  daily
  rotate {{ varnish_log_days }}
  compress
  delaycompress
  missingok
  postrotate
    /bin/kill -HUP `cat /var/run/varnishncsa.pid /run/varnishncsa/varnishncsa.pid 2>/dev/null` 2> /dev/null || true
  endscript
}
